h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}
h2 {
    color: hotpink;
    font-weight: 100;
}
.about-me > p {
    color: green;
}
.about-me2 {
    color: saddlebrown;
}
.about-me h3 {
    color: yellow;
}
#box {
    outline: 3px solid green;
  }
#box:checked + label {
    color: green;
  }
#box:hover + label {
    outline: 3px solid red
}
p::first-line {
    color: green;
}
#hardworkerpc {
    aspect-ratio: 1/1;
    height: 300px;
    position: relative;
    right: 40px;
}
#profile-pic {
    aspect-ratio: 1/1;
    height: 300px;
    position: relative;
}
#cyclist {
    aspect-ratio: 1/1;
    height: 300px;
    position: relative;
}
#gaming {
    aspect-ratio: 1/1;
    height: 300px;
    position: relative;
}
#running {
    aspect-ratio: 1/1;
    height: 300px;
    position: relative;
}
body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
a [data-anchor="social"] {
    color: blue;
}
.parent {
    display: grid;
}
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: start;
    align-items: end;
}
